.container {
  display: grid;
  justify-items: center;
  align-content: center;
  block-size: var(--content-block-size);
}

.title {
  font-size: clamp(15rem, 14rem + 3.125vw, 20rem);
  line-height: normal;
}

.goBackHomeLink {
  padding: 1.5rem 6rem;
  margin-block-start: 3rem;
  font-weight: 500;
  background-color: var(--primary-text-color);
  color: var(--bg-color);
  border-radius: var(--border-radius);
}

@media (hover: hover) {
  .goBackHomeLink:hover {
    filter: brightness(0.9);
  }
}
